<% for kind in @kinds %> 
<h3><%= kind.humanize %></h3>
<ul class="list-group list-group-flush">
<% for person in @people.filter {|p| p.kind == kind} %>
  <%= link_to person_schedule_items_url(person.id), class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do %>
    <%= person.name %>
    <% if person.schedule_conflicts.count > 0 %>
        <span class="text-danger">
            <%= fa_icon "exclamation-circle", text: " Conflicts detected", size: '1x', left: true %>
        </span>
    <%end %>
  <% end %>
  </ul>
<%end%>
<%end%>