<% for kind in @kinds %> 
<h3><%= kind.humanize %></h3>
<% for person in @people.filter {|p| p.kind == kind} %>
<div class="row">
<div class="col-md-5">
<%= link_to person.name, person_schedule_items_url(person.id) %>
</div>
</div>
<%end%>
<%end%>