<h1>Student Panel</h1>
<h4>Thursday at 5pm: <a href="https://ucsd.zoom.us/j/98286509509?pwd=eE9yK2J6MVhzUDhCZmFSczVEU2t0dz09">Zoom Link</a></h4>

<b>Ask questions live or in advance: <a href="https://app.sli.do/event/okaqiaph">Slido</a></b>
<br/>
<br/>

<p>The goal of the student panel is to answer any and all questions or concerns
you may have about non-research specific topics (Similar to the questions
that have been already posted on our Visit Day slack channel). These
questions can be broadly about topics such as housing, program
structure/coursework, funding, student life, support system (including
physical and mental health), or any other things you may have queries
about/want to discuss. The panel consists of current senior and junior PhD
students, with <b>no faculty or staff in attendance, and no recording of the
event</b>. Feel completely free to bring up any question/concern that you might
think of.

<p>We have two ways to post questions before/during the session:
Before the session, we will use this <a href="https://app.sli.do/event/okaqiaph">Slido forum to post questions</a>.
During the session we will still continue to use Slido preferably, but you can also post your questions to the panelists using the Zoom chat.

<p>If you have any questions, feel free to reach out to the organizers:<br/>
Nishant Bhaskar &lt;<a href="mailto:nibhaska@eng.ucsd.edu">nibhaska@eng.ucsd.edu</a>&gt;  or Dhiman Sengupta &lt;<a href="mailto:dhimnsen@eng.ucsd.edu">dhimnsen@eng.ucsd.edu</a>&gt;
<br/><br/>
Looking forward to interacting with all of you!!!!
