<h1><%= @person.name %>'s Schedule</h1>

<h3>New Event</h3>
<%= render "form", person: @person, schedule_item: ScheduleItem.new %>

<br/>
<br/>


<h3>Schedule Items</h3>
  <% @schedule_items.each do |schedule_item| %>
    <%= render "form", person: @person, schedule_item: schedule_item, all_people: @all_people %>
  <% end %>

<br>
