// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.conflict {
    background: pink;
    padding: 5px;
}

.missing_link {
    padding: 5px;
    background: paleturquoise;
}

.missing_link.conflict {
    background: linear-gradient(to right, pink, pink 50%, paleturquoise 50%);
}

input[type="time"] {
    width: 8.2rem !important;
}